{% extends "index.html" %}
{% load static %}
{% block content %}
    <main>
        <p class="desc">{{ genre }}</p>
        <div class="movies-grid">
            {% for movie in posters_data %}
                <div class="movie" data-id="{{ movie.id }}" >
                    {% if movie.poster_url %}
                        <img src="{{ movie.poster_url }}" alt="{{ movie.movie_name }} Poster" style="width: 250px;">
                        <p class="desc">{{ movie.movie_name }}</p>
                        <button class="heart-btn" data-id="{{ movie.id }}" style="background: none; border: none; font-size: 24px; cursor: pointer;">🤍</button>

                    {% else %}
                        <p>Постер не знайдено</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>7</button>
        </div>

        <div style="text-align: center; margin-top: 20px;">
            <button class="load-more">Завантажити ще</button>
        </div>

        <div class="desc">
            <p>
                Анімація — це жанр, де можливе все: чарівні світи, неймовірні пригоди та герої, які можуть бути ким
                завгодно — від звичайних людей до казкових істот. Завдяки візуальній магії, будь-яка історія оживає в
                яскравих барвах, передаючи глибокі емоції, гумор і навіть серйозні теми. Від веселих комедій до епічних
                драм, анімація здатна зачарувати як дітей, так і дорослих. Це мистецтво, яке стирає межі між реальністю
                та фантазією, запрошуючи у світ, де мрії стають реальністю.
            </p>
        </div>
    </main>


<script>
   document.addEventListener("DOMContentLoaded", function () {
       const movies = document.querySelectorAll('.movie');
       movies.forEach(movie => {
           movie.addEventListener('click', function () {
               const movieId = movie.getAttribute('data-id');
               window.location.href = `/film/${movieId}`;
           });
       });
   });
</script>
{% endblock %}

