{% extends 'index.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/sign.css' %}" rel="stylesheet" />

<div>
    <h2 class="sign_up">Реєстрація</h2>
    <h3 class="wel">Ласкаво просимо на наш сайт! 🎬</h3>
    <div class="instr">
        <p><strong>Створивши акаунт, ви отримаєте доступ до всіх можливостей платформи:</strong></p>
        <ul>
            <li>✅ залишати коментарі під власним нікнеймом,</li>
            <li>✅ додавати фільми в закладки</li>
        </ul>
        <p>Якщо у вас виникнуть труднощі з реєстрацією, зверніться до <a href="#" class="admin-link">адміністрації</a> сайту.</p>
    </div>
    <h3 class="well">Приєднуйтесь та відкривайте світ кіно разом із нами! 🍿✨</h3>
</div>

<div class="form">
  <form method="POST">
    {% csrf_token %}
 {% if registerForm.errors %}
        <ul>
            {% for field in registerForm %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-group">
        {{ registerForm.username }}
    </div>

    <div class="form-group">
        {{ registerForm.email }}
    </div>

    <div class="form-group">
        {{ registerForm.password1 }}
    </div>

    <div class="form-group">
        {{ registerForm.password2 }}
    </div>

    <button type="submit" class="sign-up">Зареєструватися</button>
    <p class="sign-in">Вже є акаунт? <a href="{% url 'signin' %}">Увійти</a></p>
</form>


</div>
{% endblock %}
