<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/sign.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" 
    rel="stylesheet">
    <title>Sign</title>
</head>
<body>
    <!-- HEADER -->
     <div>
        <header class="header">
            <span class="logo">MOVIES</span> 
        </header>
     </div>

     <div>
        <h2 class="sign_up">Реєстрація</h2>
        <h3 class="wel">Ласкаво просимо на наш сайт! 🎬</h3>
        <div class="instr">
            <p><strong>Створивши акаунт, ви отримаєте доступ до всіх можливостей платформи:</strong></p>
            <ul>
                <li>✅ залишати коментарі під власним нікнеймом,</li>
                <li>✅ додавати фільми в закладки</li>
            </ul>
            <p>Якщо у вас виникнуть труднощі з реєстрацією, зверніться до <a href="#" class="admin-link">адміністрації</a> сайту.</p>
        </div>
        <h3 class="well">Приєднуйтесь та відкривайте світ кіно разом із нами! 🍿✨</h3>
     </div>

     <div class="form">

     </div>
</body>
</html>